@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.info_box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 274px;
  overflow: hidden;
  color: #fff;
  background-color: #fff;

  .info_box__bd {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 4;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .opt_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    padding: 0 16px;
    transition: 1s ease-in-out;
  }
  .btn_play_all {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    padding: 0 20px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    background-color: $color-primary;

    &::before {
      content: '';
      display: block;
      height: 0;
      width: 0;
      margin-right: -3px;
      border-color: transparent transparent transparent #fff;
      border-width: 7px 11px;
      border-style: solid;
      border-radius: 2px;
    }
  }
}
.wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding-bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  color: #777;
  &::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
  }
}
.main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding-top: 274px;
  padding-bottom: 50px;
  overflow: hidden;
  will-change: transform;
  transform: translateZ(0);
}
.count_box {
  position: relative;
  display: flex;
  align-items: center;

  height: 54px;
  margin: 0 16px -10px;

  .count_box__desc {
    font-size: 14px;
  }
  .count_box__number {
    margin-left: 5px;
  }
  .collect {
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 55px;
    font-size: 14px;
    color: $color-primary;
  }
  .collect__icon {
    display: block;
    width: 26px;
    height: 26px;
    margin-left: 5px;
    display: none;
  }
}

.info_box__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(36px);
  transform: scale(1.1) translateZ(0);
}

.song_list {
  overflow: hidden;

  .song_item {
    position: relative;
    display: flex;
    list-style: none;
  }

  .song_list__order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    margin-right: -16px;
  }
  .song_list__decimal {
    font-size: 16px;
  }
  .song_list__bd {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    overflow: hidden;
  }
  .song_list__box {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .song_list__tit,
  .song_list__desc {
    display: flex;
    overflow: hidden;
  }
  .song_list__tit {
    font-size: 16px;
    color: #333;
  }
  .song_list__txt {
    display: block;
    max-width: 100%;
    @include ellipsis;
  }
  .song_list__desc {
    .song_list__txt {
      max-width: 94%;
    }
  }
}

.check_more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  margin-bottom: 15px;
  font-size: 14px;
  display: none;
}
.song_info_tit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  padding: 0 40px;
  overflow: hidden;
  text-align: center;
  .song_info_tit__txt {
    margin-left: 5px;
    overflow: hidden;
    line-height: 1.2;
    white-space: nowrap;
    letter-spacing: 5px;
    font-size: 18px;
    color: #333;
  }
}
.song_info_intro {
  position: relative;
  max-height: 84px;
  margin: 0 16px 20px;
  overflow: hidden;
  text-align: justify;
  word-wrap: break-word;
  font-size: 14px;
  &.song_info_intro--unfold {
    max-height: none;
  }
  .song_info_intro_switch {
    position: absolute;
    right: 0;
    bottom: -1px;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 21px;
    padding-left: 20px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 20%);
    &::before {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      margin-right: 4px;
      border-style: solid;
      border-width: 0 1px 1px 0;
    }
    &::after {
      content: '';
      position: absolute;
      top: -50%;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 200%;
    }
  }
  .song_info_intro_switch--open {
    &::before {
      margin-top: -4px;
      transform: rotate(45deg);
    }
  }
  .song_info_intro_switch--close {
    &::before {
      margin-top: 4px;
      transform: rotate(-135deg);
    }
  }
}
.brand {
  padding: 20px 0;
  .brand__logo {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }
  .brand__name {
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #333;
  }
}
